@import "../../styles.scss";

.nav {
    width: 16vw;
    height: 100vh;
    background-color: var(--background);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-right: 1px solid var(--border);

    .title {
        color: rgb(39, 39, 39);
        font-weight: 300;

        span {
            color: $primary;
            font-weight: 700;
        }
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .category {
        color: rgb(74, 74, 74);
        font-size: .8rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        list-style: none;
        gap: 10px;

        li {

            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 35px;
            color: rgb(93, 93, 93);
            border-radius: 10px;
            padding: 15px 10px;
            transition: all .3s;

            span {
                font-size: .8rem;
            }

            &.active {
                background-color: $primary;
                color: rgb(238, 238, 238);
            }

            &:hover {
                cursor: pointer;
                background-color: $primary;
                color: rgb(238, 238, 238);
            }
        }
    }

    .footer {
        color: rgb(107, 107, 107);
        font-size: .6rem;
    }
}
