@import "../../styles.scss";


.content {
    .header {
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: start;
      max-height: 200px;
      
    }

    .card_container {
        background-color: var(--background);
        padding: 10px;
        border-radius: 10px;
        height: 100%;

    }

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .card {
            color: var(--fontPrimary);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 150px;
            .top{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 24px;
                li{
                    width: 100%;
                    height: auto;
                    font-size: .8rem;
                }
            }
            .icon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $primary;
                color: white;
                font-size: .8rem;
                position: absolute;
                right: 15px;
                top: 15px;
            }

            .chart-container {
                height: 100%;
                width: 100%;
            }

            span {
                font-size: .8rem;
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .count {
                margin-top: 20px;
                font-size: 3rem;
                font-weight: 500;
            }
        }

        li {


            background-color: var(--background);
            border: 1px solid var(--border);
            list-style: none;
            
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        height: 100%;
   
        .left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          gap: 10px;
          max-height: 430px;
          height: 100%;

            .card {
                background-color: var(--background);
                max-width: 430px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                border-radius: 10px;
                justify-content: center;
                border: 1px solid var(--border);
                padding: 20px;
                

                span {
                    color: var(--fontPrimary);
                }

                li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 40px;

                    .device_container {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        height: 50%;
                        width: 100%;
                        padding: 0px 10px;
                        gap: 20px;
                    }

                    fa-icon {
                        color: rgb(230, 227, 227);

                    }

                    .icon {
                        font-size: 1rem;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(99, 97, 97, 0.645);
                    }

                    .device {
                        span {
                            font-size: .7rem;
                            color: gray;
                            font-weight: 500;
                        }

                        h3 {
                            font-size: 1rem;
                            color: var(--fontPrimary);
                            font-weight: 500;
                        }
                    }

                    .graph {
                        width: 150px;
                        max-height: 100px;


                        // background-color: red;
                        .chart-container {
                            width: 200px;
                            height: 80px;
                        }
                    }


                }
            }

            .logs {
                background-color: var(--background);
                border: 1px solid var(--border);
                border-radius: 10px;
                width: 430px;
                min-height: 170px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 15px;

                h1 {
                    color: var(--fontPrimary);
                    font-size: .8rem;
                    font-weight: 400;
                }

                ul {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: start;
                    margin-top: 10px;
                    gap: 10px;
                    width: 100%;
                    height: 100%;

                    li {
                        width: 100%;
                        list-style: none;
                        color: gray;
                        font-size: .7rem;
                        margin-top: 10px;
                        height: auto;
                    }
                }

            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 430px;

            .card {
                background-color: var(--background);
                width: 100%;
                height: 100%;
                color: var(--fontPrimary);
                border-radius: 10px;
                padding: 20px;
                border: 1px solid var(--border);

            }
        }
    }
}
.logs table {
    width: 100%;
    border-collapse: collapse;
}

.logs th,
.logs td {
    border: 1px solid var(--border);
    padding: 3px;
    font-weight: 400;
    text-align: center;
    color: black;
}

.logs th {
    font-size: .8rem;

}
.logs .ip{
    position: relative;
    &:hover{
        .popUp{
            // display: flex;
        }
    }
    .popUp{
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: var(--primary);
        padding: 10px;
        gap: 10px;
        top: 0;
    }
}

.logs td {
    font-size: .8rem;
    // overflow-y: auto;

}

.logs tr.sucesso {
    background-color: #e0ffe013;
}

.logs tr.bloqueado {
    background-color: #ffe0e01a;
}

.logs tr.suspeito {
    background-color: #fff3cd17;
}

.logs tr.ddos {
    background-color: #cce5ff17;
}

.logs tr.normal {
    background-color: transparent;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}
