<div class="container">
  <div class="content">
    <ul class="header">
      <li class="card">
        <div class="icon">
          <fa-icon [icon]="faExpand"></fa-icon>
        </div>
        <span>Last 15 minuts: </span>
        <div class="count">{{ requestCount }}</div>
      </li>
      <li class="card">
        <div class="icon">
          <fa-icon [icon]="faExpand"></fa-icon>
        </div>
        <span>Top requests:</span>
        <ul class="top">
          <li *ngFor="let item of topIps">
            {{ item.ip }} - {{ item.count }} req
          </li>
        </ul>
      </li>
      <li class="card" [ngStyle]="{
            border: '1px solid ' + (serverStatus === 'online' ? 'green' : 'red')
          }">
        <div
          class="icon"
          [ngStyle]="{
            background: serverStatus === 'online' ? 'green' : 'red'
          }"
        >
          <fa-icon [icon]="faExpand"></fa-icon>
        </div>
        <span>Status:</span>

        <div [ngStyle]="{ color: serverStatus === 'online' ? 'green' : 'red' }">
          Servidor: {{ serverStatus === "online" ? "Ativo" : "Fora do ar" }}
        </div>
      </li>
    </ul>
    <div class="footer">
      <div class="left">
        <ul class="card">
          <span>Threat by device</span>
          <li>
            <div class="device_container">
              <div class="icon">
                <fa-icon [icon]="faMobile"></fa-icon>
              </div>
              <div class="device">
                <span>Last Device IP</span>
                <h3>{{ lastMobile }}</h3>
              </div>
            </div>
            <div class="graph">
              <div echarts [options]="mobile" class="chart-container"></div>
            </div>
          </li>
          <li>
            <div class="device_container">
              <div class="icon">
                <fa-icon [icon]="faDesktop"></fa-icon>
              </div>
              <div class="device">
                <span>Last Device IP</span>
                <h3>{{ lastDesktop }}</h3>
              </div>
            </div>
            <div class="graph">
              <div echarts [options]="desktop" class="chart-container"></div>
            </div>
          </li>
        </ul>
        <div class="logs">
          <h1>Logs on real time</h1>
          <table>
            <thead>
              <tr>
                <th>IP</th>
                <th>Método</th>
                <th>URI</th>
                <th>Agente</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let log of logs" [ngClass]="log.status">
                <td class="ip">
                  {{ log.ip }}
                  <div class="popUp">
                    <span>Bloquear</span>
                    <span>Desbloquear</span>
                  </div>
                </td>

                <td>{{ log.method }}</td>
                <td>{{ log.uri }}</td>
                <td>{{ log.agent }}</td>
                <td>
                  <span *ngIf="log.status === 'sucesso'">✅ Sucesso</span>
                  <span *ngIf="log.status === 'bloqueado'">🚫 Bloqueado</span>
                  <span *ngIf="log.status === 'suspeito'">⚠️ Suspeito</span>
                  <span *ngIf="log.status === 'ddos'">🌊 DDoS</span>
                  <span *ngIf="log.status === 'normal'">ℹ️ Normal</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="right">
        <div class="card">
          <div echarts [options]="mainOption" class="chart-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
