@import "../../styles.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84vw;
    height: 100vh;
    align-items: center;
    background-color: $background;
    padding: 35px;
    overflow: hidden;
}

.content {
    width: 100%;
    min-height: 90%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    background-color: $backgroundDark;
    gap: 10px;
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;


    .header {
      height: 100%;
    }

    .card_container {
        background-color: $background;
        padding: 10px;
        border-radius: 10px;
        height: 100%;

    }

    ul {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .card {
            color: rgb(190, 187, 187);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 25%;
            height: 150px;
            .icon {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: $primary;
                color: white;
                font-size: .8rem;
                position: absolute;
                right: 15px;
                top: 15px;
            }

            .chart-container {
                height: 100%;
                width: 100%;
            }

            span {
                font-size: .8rem;
                position: absolute;
                top: 15px;
                left: 15px;
            }

            .count {
                margin-top: 20px;
                font-size: 3rem;
                font-weight: 500;
            }
        }

        li {


            background-color: $background;
            list-style: none;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        height: 100%;
        max-height: 430px;
        max-height: 20%;
        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          max-height: 430px;

            .card {
                background-color: $background;
                max-width: 430px;
                height: 210px;
                display: flex;
                flex-direction: column;
                align-items: start;
                border-radius: 10px;
                justify-content: center;
                padding: 20px;

                span {
                    color: rgb(239, 236, 236);
                }

                li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 40px;

                    .device_container {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        height: 50%;
                        width: 100%;
                        padding: 0px 10px;
                        gap: 20px;
                    }

                    fa-icon {
                        color: rgb(230, 227, 227);

                    }

                    .icon {
                        font-size: 1rem;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba(99, 97, 97, 0.645);
                    }

                    .device {
                        span {
                            font-size: .7rem;
                            color: gray;
                            font-weight: 500;
                        }

                        h3 {
                            font-size: 1rem;
                            color: rgb(239, 238, 238);
                            font-weight: 500;
                        }
                    }

                    .graph {
                        width: 150px;
                        max-height: 100px;

                        // background-color: red;
                        .chart-container {
                            width: 200px;
                            height: 80px;
                        }
                    }

                    border-bottom: 1px solid rgba(128, 128, 128, 0.359);

                }
            }

            .logs {
                background-color: $background;
                width: 430px;
                min-height: 210px;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: 15px;

                h1 {
                    color: rgb(167, 167, 167);
                    font-size: .8rem;
                    font-weight: 400;
                }

                ul {
                    display: flex;
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: start;
                    margin-top: 10px;
                    gap: 10px;
                    width: 100%;
                    height: 100%;

                    li {
                        width: 100%;
                        list-style: none;
                        color: gray;
                        font-size: .7rem;
                        margin-top: 10px;
                        height: auto;
                    }
                }

            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 430px;

            .card {
                background-color: $background;
                width: 100%;
                height: 100%;
                color: white;
                border-radius: 10px;
                padding: 20px;

            }
        }
    }
}
.logs table {
    width: 100%;
    border-collapse: collapse;
}

.logs th,
.logs td {
    border: 1px solid #ddd;
    padding: 3px;
    font-weight: 400;
    text-align: center;
    color: rgb(216, 216, 216);
}

.logs th {
    font-size: .8rem;

}
.logs .ip{
    position: relative;
    &:hover{
        .popUp{
            display: flex;
        }
    }
    .popUp{
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        padding: 10px;
        gap: 10px;
        top: 0;
    }
}

.logs td {
    font-size: .8rem;
    // overflow-y: auto;

}

.logs tr.sucesso {
    background-color: #e0ffe013;
}

.logs tr.bloqueado {
    background-color: #ffe0e01a;
}

.logs tr.suspeito {
    background-color: #fff3cd17;
}

.logs tr.ddos {
    background-color: #cce5ff17;
}

.logs tr.normal {
    background-color: transparent;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 1px solid $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}
