/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84vw;
  height: 100vh;
  align-items: center;
  padding: 35px;
  overflow: hidden;
  background-color: var(--background);
  color: var(--fontPrimary);
}
.content {
  width: 100%;
  min-height: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: var(--background);
  gap: 10px;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
}

$background: rgb(25, 25, 40);
$backgroundLight: rgb(46, 46, 68);
$backgroundDark: rgb(10, 10, 11);
$primary: rgb(123, 2, 192);
$primaryHover: rgba(153, 98, 69, 0.075);
$color: rgba(110, 109, 111, 0.43);
$font: rgb(236, 236, 236);

:root{
    --primary: rgb(123, 2, 192);
    --primaryHover: rgba(122, 2, 192, 0.123);
    --background: rgb(248, 248, 248);
    --backgroundDark: rgb(244, 244, 244);
    --border: rgb(180, 180, 180);
    --borderLight: rgb(209, 209, 209);
    --fontPrimary: rgb(31, 31, 31);
    --fontSecondary: rgb(97, 97, 97);
    --cardLight: rgb(231, 231, 231);
}