/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

$background: rgb(25, 25, 40);
$backgroundDark: rgb(10, 10, 11);
$primary:rgb(123, 2, 192);
$primaryHover:rgba(122, 69, 153, 0.075);
$color:rgba(110, 109, 111, 0.43);