@import "../../styles.scss";


.container {


  h1 {
    color: white;
  }

  .logs {
    margin-top: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    color: white;
  }
}
