<div class="p-4 container" >
  <h2 class="text-xl font-semibold mb-4">🚫 IPs Bloqueados</h2>

  <table class="table-auto w-full border border-gray-700 text-white">
    <thead>
      <tr class="bg-purple-700 text-left">
        <th class="p-2">Endereço IP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ip of blockedIPs" class="border-t border-gray-600">
        <td class="p-2">{{ ip }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="blockedIPs.length === 0" class="text-gray-400 mt-4">
    Nenhum IP bloqueado no momento.
  </p>
</div>
