<div class="container">
  <div class="content">
    <div class="header">
      <div class="title">
       <div class="text">IPs Bloqueados</div> 
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <button>Export</button>
    </div>

    <ul>
      <div class="title">Endereço IP</div>
      <li *ngFor="let ip of blockedIPs">
        {{ ip }}
      </li>
    </ul>

    <p *ngIf="blockedIPs.length === 0" class="text-gray-400 mt-4">
      Nenhum IP bloqueado no momento.
    </p>
  </div>
</div>
