@import "../../styles.scss";


.container {
  width: 84vw;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: start;
  background-color: $backgroundDark;
  flex-direction: column;
  padding: 40px;
  color: white;

  h1 {
    color: white;
  }

  .logs {
    margin-top: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    color: white;
  }
}
