.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    .barStatus{
        width: 100%;
        height: 3px;
        position: absolute;
        top: 0;
        z-index: 10;
        left: 0;
        box-shadow: 3px 1px 7px red;
    }
}