<div class="container">
  <div class="content">
    <div class="main_title">Configuration</div>
    <div class="sub">
      <div class="header">
        <h2 class="title">Mode</h2>
        <p>Choose your preferred operating mode.</p>
      </div>
      <div class="card_container">
        <div class="card active">
          <div class="icon">
            <fa-icon [icon]="faThumbtack"></fa-icon>
          </div>
          <div class="title">Local Mode</div>
        </div>
        <div class="card">
          <div class="icon">
            <fa-icon [icon]="faDesktop"></fa-icon>
          </div>
          <div class="title">Remote Mode</div>
        </div>
        <div class="card">
          <div class="icon">
            <fa-icon [icon]="faHouseLaptop"></fa-icon>
          </div>
          <div class="title">Hybrid Mode</div>
        </div>
      </div>
    </div>

    <div class="type">
      <div class="text">
        <h2 class="title">Type</h2>
        <p>Choose your configuration type.</p>
      </div>
      <div class="card_container">
        <div class="card active">
          <div class="header">
          
            <div class="title">Standard</div>
          </div>
          <p>Default settings for basic monitoring and security.</p>
        </div>
        <div class="card">
          <div class="header">
           
            <div class="title">Advanced</div>
          </div>
          <p>Enables custom rule sets and detailed event tracking.</p>
        </div>
        <div class="card">
          <div class="header">
       
            <div class="title">Enterprise</div>
          </div>
          <p>Full-scale setup for high-traffic or multi-server environments.</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="text">
        <h2 class="title">Filters</h2>
        <p>Choose which requirements you want to apply.</p>
      </div>
      <div class="card_container">
        <div class="card">
          <div class="text">
            <div class="title">Suspicious Activity</div>
            <p>Show only logs with potential threat indicators.</p>
          </div>
          <input type="checkbox" class="button" />
        </div>
        <div class="card">
          <div class="text">
            <div class="title">Failed Logins</div>
            <p>Focus on repeated unauthorized access attempts.</p>
          </div>
          <input type="checkbox" class="button" />
        </div>
        <div class="card">
          <div class="text">
            <div class="title">Blocked IPs</div>
            <p>Display entries related to IP addresses currently blocked.</p>
          </div>
          <input type="checkbox" class="button" />
        </div>
      </div>
    </div>
  </div>
</div>
