@import "../../styles.scss";

.container {
  .content {
    overflow-y: scroll;
    gap: 30px;

    .main_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      text-align: start;
      color: var(--fontPrimary);
      font-size: 1.5rem;
      font-weight: 500;
    }
    p {
      color: var(--fontSecondary);
      font-size: 0.9rem;
    }
    h2 {
      font-size: 1rem;
    }
    h1 {
      padding: 20px 0;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .sub {
      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .card_container {
        display: flex;
        gap: 15px;
        .card {
          display: flex;
          flex-direction: column;
          color: var(--fontSecondary);
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border: 2px solid var(--borderLight);
          border-radius: 15px;
          width: 150px;
          height: 70px;
          &:hover {
            background-color: var(--primaryHover);
            border: 2px solid var(--primary);
            cursor: pointer;
            .icon {
              color: var(--primary);
            }
            .title {
              color: var(--primary);
            }
          }
          &.active {
            background-color: var(--primaryHover);
            border: 2px solid var(--primary);
            .icon {
              color: var(--primary);
            }
            .title {
              color: var(--primary);
            }
          }
          .title {
            font-weight: 600;
            font-size: 0.9rem;
          }
          .icon {
            font-size: 0.9rem;
          }
        }
      }
    }
    .type {
      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card_container {
        display: flex;
        gap: 15px;
        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          border: 2px solid var(--borderLight);
          border-radius: 15px;
          width: 250px;
          height: 110px;
          &:hover {
            background-color: var(--primaryHover);
            border: 2px solid var(--primary);
            cursor: pointer;
            .icon {
              color: var(--primary);
            }
            .title {
              color: var(--primary);
            }
          }
          &.active {
            background-color: var(--primaryHover);
            border: 2px solid var(--primary);
            .icon {
              color: var(--primary);
            }
            .title {
              color: var(--primary);
            }
          }
          .header {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            .title {
              font-weight: 600;
              font-size: 0.9rem;
            }
            .icon {
              font-size: 0.9rem;
            }
          }
          p {
            font-size: 0.8rem;
            text-align: center;
            color: var(--fontSecondary);
          }
        }
      }
    }

    .footer {
      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .card_container {
        border-radius: 15px;
      }
      .card {
        display: flex;
        border: 1px solid var(--borderLight);
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        &:nth-last-child(-n + 1) {
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
        }
        &:first-child {
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
        .title {
          font-weight: 600;
        }
      }
    }
  }
}
