<div class="container">
  <div class="content">
    <div class="sub">
      <div class="header">
        <h2 class="title">Configuration</h2>
        <p>Chose your mode</p>
      </div>
      <div class="card_container">
        <div class="card">
          <div class="icon">
            <fa-icon [icon]="faMobile"></fa-icon>
          </div>
          <div class="title">Item1</div>
        </div>
        <div class="card">
          <div class="icon">
            <fa-icon [icon]="faDesktop"></fa-icon>
          </div>
          <div class="title">Item1</div>
        </div>
        <div class="card">
          <div class="icon">
            <fa-icon [icon]="faDesktop"></fa-icon>
          </div>
          <div class="title">Item1</div>
        </div>
      </div>
    </div>

    <div class="type">
      <div class="text">
        <h2 class="title">Type</h2>
        <p>Chose your mode</p>
      </div>
      <div class="card_container">
        <div class="card">
          <div class="header">
            <div class="icon">
              <fa-icon [icon]="faDesktop"></fa-icon>
            </div>
            <div class="title">Item1</div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        <div class="card">
          <div class="header">
            <div class="icon">
              <fa-icon [icon]="faDesktop"></fa-icon>
            </div>
            <div class="title">Item1</div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
        <div class="card">
          <div class="header">
            <div class="icon">
              <fa-icon [icon]="faDesktop"></fa-icon>
            </div>
            <div class="title">Item1</div>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur elit.</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="text">
        <h2 class="title">Filters</h2>
        <p>Chose what requiremets you want</p>
      </div>
      <div class="card_container">
        <div class="card">
          <div class="text">
            <div class="title">Item1</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <input type="radio" class="button" />
        </div>
        <div class="card">
          <div class="text">
            <div class="title">Item1</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <input type="radio" class="button" />
        </div>
        <div class="card">
          <div class="text">
            <div class="title">Item1</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <input type="radio" class="button" />
        </div>
      </div>
    </div>
  </div>
</div>
